.case-study {
  background-color: #fff;
  position: relative;
}

.case-study-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 0;
  /* max-width: 800px; */
  /* margin: 150px auto; */
}

.case-study-play {
  align-self: baseline;
}

.case-study-play img {
  background-color: #3c72fc;
  padding: 20px;
  margin: 30px;
}

.case-study-text {
  max-width: 400px;
}

.case-study-text h2 {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 700;
}

.case-study-history .one {
  color: #726f84;
  font-size: 18px;
  margin: 20px 0;
}

.case-study-history .two {
  color: #3c72fc;
  font-size: 26px;
  margin-bottom: 20px;
}

.case-study-input {
  margin-bottom: 20px;
}
.case-study-input div {
  display: flex;
  justify-content: space-between;
}

.case-study-input div label {
  font-size: 14px;
  font-weight: 700;
}

.case-study-input div p {
  margin-right: 50px;
}

.case-study-phone {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.case-study-phone img {
  background-color: #ebf1ff;
  padding: 10px;
}

.case-study-phone p {
  margin-bottom: 5px;
}

.case-study-card-con {
  display: flex;
  position: absolute;
  /* border: 2px solid green; */
  left: 180px;
  bottom: -50px;
  box-shadow: 10px 10px 8px -3px rgba(0, 0, 0, 0.1),
    0px 10px 9px -3px rgba(0, 0, 0, 0.1);
}
.case-study-card {
  padding: 20px;
  width: 400px;
  background-color: #fff;

  box-shadow: 19px 10px 30px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.case-study-card p {
  color: #0f0d1d;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.case-study-card span {
  color: #726f84;
  font-weight: 500;
}

@media all and (max-width: 768px) {
  .case-study-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .case-study-text h2 {
    font-size: 30px;
  }

  .case-study-card-con {
    display: none;
  }
}
