.button {
  padding: 10px;
  background-color: #3c72fc;
  color: #fcfcfc;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  outline: none;
}

.button:hover {
  background-color: #245ef2;
}

@media all and (max-width: 768px) {
  .button {
    font-size: 16px;
  }
}
